@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 50px;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    height: 99vh;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    scroll-snap-align: start;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: 25%;
}

img.strava {
    border-radius: 50%;
    width: 40%;
}
h1{
    color: rgb(252, 76, 2);
    text-shadow: 1px 1px 4px black;  
    padding: 10px; 
}

h2{
    color: rgb(189, 173, 247);
    font-size: 30px;
    text-shadow: 1px 1px 4px black;  
    padding: 5px; 
}
.one {
    background-color: #5585b59d;
}
.two {
    background-color: #53a8b6;
}
.three {
    background-color: #5585b5;
}
.four {
    background-color: #53a8b6;
}
.five {
    background-color: #5585b5;
}

table.kalender {
    width: 70%;
    border-collapse: collapse;
    
}

table {
    width: 80%;
    padding: 10px 70px;
}

th {
    font-weight: bold;
    color: antiquewhite;
    font-size:25px;
}




table.kalender tr td{
   
    text-align: center;
    font-size:25px;
}

pre, pre a {
    font-family:'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: bold;
    color: blue;
    text-indent: 20px;
}

table tr:nth-child(even) {
    background-color: #53a8b6;
    border-radius: 25%;
}
table tr:nth-child(odd) {
    background-color: #275e67;
    border-radius: 25%;
}

td.regels1 {
    align-items: left;
}
td.regels2 {
    align-items: right;
}
li {
    font-size: 30px;
    list-style-type: "\1f6b4";
}