@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 50px;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vhl;
}

section {
    height: 100vhl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    scroll-snap-type: start;
}

h1{
    color: white;
    text-shadow: 1px 1px 4px black;
    
}
.one {
    background-color: #5585b5;
    display: flex;
    align-items: start;
    border: 1px solid red;
}
.two {
    background-color: #53a8b6;
}
.three {
    background-color: #5585b5;
}
.four {
    background-color: #53a8b6;
}
.five {
    background-color: #5585b5;
}