body {
    font-family: 'Roboto', sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    padding: 20px;
}

nav {
    background-color: #f0f0f0;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
}

.content {
    display: flex;
    flex: 1;
}

.left-column {
    flex: 0 0 10%;
    background-color: #ddd;
    padding: 10px;
}

.right-column {
    flex: 1;
    padding: 10px;
}